<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Header tarefa 7</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="calcula-media" class="nav-link">Calcular Média</a></li>
      <li class="nav-item"><a routerLink="calculadora" class="nav-link">Calculadora</a></li>
      <li class="nav-item"><a routerLink="cadastro-aluno" class="nav-link">Cadastro de Aluno</a></li>
      <li class="nav-item"><a routerLink="apolice-seguro" class="nav-link">Apólice de Seguro</a></li>
    </ul>
  </header>
</div>
