<div class="container">
  <h1>Calculadora</h1>
</div>
<div class="container d-flex">
  <div class="m-3">
    <label class="form-label" for="">Primeiro valor</label>
    <input max="10" min="0" class="form-control" type="number" [(ngModel)]="valor1">
  </div>
  <div class="m-3">
    <label class="form-label" for="">Operação</label>
      <label for="" class="form-label">City</label>
      <select class="form-select form-select-lg" [(ngModel)]="operador">
      <option value="+">Soma</option>
      <option value="-">Subtração</option>
      <option value="/">Divisão</option>
      <option value="*">Multiplicação</option>
    </select>
  </div>
  <div class="m-3">
    <label class="form-label" for="">Segundo valor</label>
    <input max="10" min="0" class="form-control" type="number" [(ngModel)]="valor2">
  </div>
  <div class="m-3">
    <label class="form-label" for="">Resultado</label>
    <input type="text" class="form-control" disabled="true" [(ngModel)]="resultado">
  </div>
</div>
<div class="container">
  <button type="button" class="btn btn-primary w-100" (click)="calcular()">Calcular</button>
</div>
